.container {
	position: relative;
  width: 100%;
	max-width: calc(800px + #{$spacer * 2});
	margin: 0 auto;
	padding: 0 $spacer;

	@include mq("tablet") {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
