nav {
  background: $secondary__BackgroundColor;
  margin-bottom: $spacer--gorizontal;

  &:first-of-type {
    a {
      color: $danger__Color;
      border-radius: 0;

      &:hover,
      &:focus {
        color: $danger__Color;
      }

      &:before {
        background-color: $danger__Color;
      }
    }
  }

  a {
    width: 100%;
    position: relative;
    display: block;
    padding: ($spacer / 2) ($spacer--gorizontal / 2);

    font-size: $font-size--base;
    font-weight: $font-weight--medium;
    text-decoration: none;
    cursor: pointer;

    border-bottom: 2px solid $body__BackgroundColor;
    border-radius: $border-radius--base;

    &:before {
      content: "";
      width: .25rem;
      display: block;
      left: 0;
      position: absolute;
      height: 100%;
      display: none;
      background: $accent__Color;
      top: 0;
    }

    &:hover {
      background-color: $border__Color;
      color: $accent--hover__Color;

      &:before {
        display: block;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
