body {
  color: $text--primary__Color;
	font-family: $font-family--base;
	font-size: $font-size--base;
	line-height: $line-height--base;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-top: $spacer--gorizontal * 2;
	margin-bottom: $spacer--gorizontal;

  color: $text--primary__Color;
	font-family: $font-family--headings;
	font-weight: $font-weight--bold;
	line-height: $line-height--headings;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  &:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: $font-size--xxxl;

	@include mq("tablet") {
		font-size: $font-size--xxxxl;
	}
}

h2 {
	font-size: $font-size--xxl;
}

h3 {
	font-size: $font-size--xl;
}

h4 {
	font-size: $font-size--lg;
}

h5 {
	font-size: $font-size--md;
}

h6 {
	font-size: $font-size--base;
}

p {
	margin: 0 0 $spacer--gorizontal;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  &:last-child {
  	margin-bottom: 0;
  }
}

a {
	color: $accent__Color;
	text-decoration: underline;
	transition: $transition--base;

	&:hover,
	&:focus,
	&:active {
		color: $accent--hover__Color;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

blockquote {
	position: relative;
	margin: 0 0 $spacer--gorizontal;
	padding: ($spacer--gorizontal / 2) ($spacer * 1.5);

	color: $text--primary__Color;
	font-family: $font-family--base;
	font-size: $font-size--base;
	font-weight: $font-weight--normal;
	font-style: normal;
	line-height: $line-height--base;

  background-color: $secondary__BackgroundColor;
  border-left: .25rem solid $danger__Color;

	b,
	strong {
		font-weight: $font-weight--bold;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child,
	> :last-child {
		margin-bottom: 0;
	}
}

blockquote {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

q {
	quotes: "\201c" "\201d" "\2018" "\2019";
}

pre {
	margin-top: 0;

	color: $text--primary__Color;
	font-family: $font-family--monospace;
	font-size: $font-size--base;
	line-height: $line-height--base;
	white-space: pre-wrap;

  background-color: $gray--100;
  border-radius: $border-radius--base;

	code, kbd, tt, var {
		padding: 0;
		font-size: inherit;
		background-color: transparent;
	}
}

code, kbd, tt, var {
	padding: 0 .25em;

	color: $text--primary__Color;
	font-family: $font-family--monospace;
	font-size: $font-size--base;
	line-height: $line-height--base;
	word-wrap: break-word;

	background-color: $gray--200;
  border-radius: $border-radius--base;
}

ul,
ol {
	margin: 0 0 $spacer--gorizontal;
	padding-left: $spacer * 2.5;
}

ul {
	list-style: disc;

	ul {
		list-style-type: circle;
	}
}

ol {
	list-style: decimal;
}

li {
	line-height: inherit;
  margin-bottom: $spacer--gorizontal / 4;

  &:last-child {
    margin-bottom: 0;
  }
}

li > ul,
li > ol {
	margin-bottom: 0;
}

.gist {
  margin: 0 0 $spacer--gorizontal;
}
