// Colors
$blue:      #0366d6;
$red:       #cb2431;
$yellow:    #ffd782;
$green:     #00893c;
$orange:    #fb8c00;
$brown:     #afa186;

$white:     #ffffff;
$black:     #232325;

$gray--100: lighten( $black, 81% );
$gray--200: lighten( $black, 77% );
$gray--300: lighten( $black, 68% );
$gray--400: lighten( $black, 53% );
$gray--500: lighten( $black, 45% );
$gray--600: lighten( $black, 31.5% );
$gray--700: lighten( $black, 23% );
$gray--800: lighten( $black, 10% );
$gray--900: lighten( $black, 3% );

// Main colors
$body__BackgroundColor:         $white;
$secondary__BackgroundColor:    $gray--100;
$text--primary__Color:          $black;
$text--secondary__Color:        $gray--500;
$accent__Color:                 $blue;
$accent--hover__Color:          darken( $accent__Color, 7% );
$success__Color:                $green;
$info__Color:                   $blue;
$warning__Color:                $orange;
$danger__Color:                 $red;
$border__Color:                 $gray--200;

// Typography
$font-family--base:           -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family--headings:       -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family--monospace:      Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size--base:          1em; // 16px

$font-size--xs:            12 / 16 * $font-size--base; // 12px
$font-size--sm:            14 / 16 * $font-size--base; // 14px
$font-size--md:            18 / 16 * $font-size--base; // 18px
$font-size--lg:            21 / 16 * $font-size--base; // 21px
$font-size--xl:            24 / 16 * $font-size--base; // 24px
$font-size--xxl:           30 / 16 * $font-size--base; // 30px
$font-size--xxxl:          36 / 16 * $font-size--base; // 36px
$font-size--xxxxl:         42 / 16 * $font-size--base; // 42px
$font-size--xxxxxl:        48 / 16 * $font-size--base; // 48px
$font-size--xxxxxxl:       60 / 16 * $font-size--base; // 60px
$font-size--xxxxxxxl:      72 / 16 * $font-size--base; // 72px

$font-weight--light:       300;
$font-weight--normal:      400;
$font-weight--medium:      500;
$font-weight--semi-bold:   600;
$font-weight--bold:        700;

$line-height--base:        1.75;
$line-height--headings:    1.35;

// Spacing
$spacer: 1rem;
$spacer--gorizontal: 1.75rem;

// Other
$transition--base:    all .25s ease-in-out;
$border-radius--base: .25rem;
