@import 'variables';
@import 'mixins';

/* Normalize */
@import 'normalize';

/* Base */
@import 'base';

/* Typography */
@import 'typography';

/* Layout */
@import 'layout';


header {
  margin-bottom: 8%;
}

footer {
  text-align: center;
}

h1, h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border__Color;
}

h1 small {
  position: absolute;
  top: $spacer--gorizontal;
  right: $spacer--gorizontal;

  font-size: 15px;
  font-weight: normal;

  @include mq("tablet", max) {
    display: none;
  }

  a {
    color: $text--secondary__Color;
  }
}

section {
  background: #fff;
  margin-bottom: 2%;
  position: relative;
  padding: 10% 8%;
}

@media screen and (min-width: 500px) {
  section {
    padding: 6% 8%;
  }
}

nav {
  background: #F0F1F3;
  min-width: 215px;
  margin-bottom: 5px;
  margin-top: 15px;

  &:first-of-type a {
    color: #d54e21;
    border-radius: 0;

    &:hover {
      color: #d54e21;
    }

    &:before {
      background-color: #d54e21;
    }
  }

  &.affix {
    position: fixed;
    top: 20px;
  }

  &.affix-bottom {
    position: absolute;
  }

  a {
    border-radius: 3px;
    font-size: 15px;
    display: block;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    padding: 10px 12px;
    width: 100%;
    padding-right: 3px;
    border-bottom: 2px solid #fff;

    &:before {
      content: '';
      width: 4px;
      display: block;
      left: 0;
      position: absolute;
      height: 100%;
      display: none;
      background: #1e8cbe;
      top: 0;
    }

    &:hover {
      background-color: #E6E8EA;
      color: #1e8cbe;
      text-decoration: underline;
    }

    &:hover:before {
      display: block;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
