body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form, fieldset, input, textarea,
p, blockquote,
th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  margin: 1.25% 0;
  -ms-interpolation-mode: bicubic;
}

html {
  background-color: #F0F1F3;
  padding: 2%;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #242424;
  max-width: 800px;
  margin: 5% auto;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media screen and (max-width: 1050px) {
  body {
    margin: 0 auto;
  }
}

header {
  margin-bottom: 8%;
}

footer {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, h1 a {
  color: #263A48;
  font-weight: 500;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1, h2 {
  font-size: 36px;
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
  border-bottom: 1px solid #eee
}

h2 {
  font-size: 24px;
  padding-bottom: 0.6em;
  margin-bottom: 0.6em;
  margin-top: 2.5em;
}

h3 {
  font-size: 21px;
  margin-bottom: 0.6em;
  margin-top: 2.5em;
}

h1 small a {
  color: #98999C;
  font-size: 15px;
  font-weight: normal;
  float: right;
  position: absolute;
  top: 15px;
  right: 20px;
}

@media screen and (max-width: 767px) {
  header span {
    display: none;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 514px) {
  p,
  ul,
  ol,
  blockquote  {
    margin-bottom: 8%;
  }
}

section {
  background: #fff;
  margin-bottom: 1%;
  position: relative;
  padding: 10% 8%;
}

@media screen and (min-width: 500px) {
  section {
    padding: 6% 8%;
  }
}

blockquote {
  border-left: 3px solid #d54e21;
  font-size: 16px;
  padding: 0 0 0 20px;
  color: #d54e21;

  a {
    color: #d54e21;
    font-weight: 500;
  }

  code {
    color: #d54e21;
  }
}

code, cite {
  background-color: #F0F2F4;
  border-radius: 3px;
  color: #000;
  font: inherit;
  padding: 2px 6px;
}

pre {
  background-color: #F0F2F4;
  clear: both;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;

  + img {
    margin-top: 2.4em;
  }
}

a {
  color: #1e8cbe;
  text-decoration: underline;

  &:hover {
    color: #d54e21;
  }
}

ul,
ol {
  margin-left: 3em;
}

ol li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

p,
ul,
ol,
blockquote  {
  margin-bottom: 4%;
}

ul ul {
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 4%;

  li:before {
    content: '-';
    display: inline-block;
    padding-right: 2%;
  }
}

ul.col-2 {
  color: #98999C;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

@media screen and (min-width: 500px) {
  ul.col-2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

nav {
  background: #F0F1F3;
  min-width: 215px;
  margin-bottom: 5px;
  margin-top: 15px;

  &:first-of-type a {
    color: #d54e21;
    border-radius: 0;

    &:hover {
      color: #d54e21;
    }

    &:before {
      background-color: #d54e21;
    }
  }

  &.affix {
    position: fixed;
    top: 20px;
  }

  &.affix-bottom {
    position: absolute;
  }

  a {
    border-radius: 3px;
    font-size: 15px;
    display: block;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    padding: 10px 12px;
    width: 100%;
    padding-right: 3px;
    border-bottom: 2px solid #fff;

    &:before {
      content: '';
      width: 4px;
      display: block;
      left: 0;
      position: absolute;
      height: 100%;
      display: none;
      background: #1e8cbe;
      top: 0;
    }

    &:hover {
      background-color: #E6E8EA;
      color: #1e8cbe;
      text-decoration: underline;
    }

    &:hover:before {
      display: block;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.gist {
  margin-top: 5.1%;
  margin-bottom: 5%;
}
