/* Normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Base */
html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  background-color: #f2f2f3;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Typography */
body {
  color: #232325;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1em;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
  color: #232325;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 700;
  line-height: 1.35;
  -webkit-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2.25em;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.625em;
  }
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1.75rem;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #0366d6;
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:hover, a:focus, a:active {
  color: #0355b3;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

blockquote {
  position: relative;
  margin: 0 0 1.75rem;
  padding: 0.875rem 1.5rem;
  color: #232325;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  background-color: #f2f2f3;
  border-left: 0.25rem solid #cb2431;
}

blockquote b,
blockquote strong {
  font-weight: 700;
}

blockquote:first-child {
  margin-top: 0;
}

blockquote:last-child,
blockquote > :last-child {
  margin-bottom: 0;
}

blockquote {
  quotes: "" "";
}

blockquote::before, blockquote::after {
  content: "";
}

q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}

pre {
  margin-top: 0;
  color: #232325;
  font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  line-height: 1.75;
  white-space: pre-wrap;
  background-color: #f2f2f3;
  border-radius: 0.25rem;
}

pre code, pre kbd, pre tt, pre var {
  padding: 0;
  font-size: inherit;
  background-color: transparent;
}

code, kbd, tt, var {
  padding: 0 .25em;
  color: #232325;
  font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  line-height: 1.75;
  word-wrap: break-word;
  background-color: #e8e8e9;
  border-radius: 0.25rem;
}

ul,
ol {
  margin: 0 0 1.75rem;
  padding-left: 2.5rem;
}

ul {
  list-style: disc;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style: decimal;
}

li {
  line-height: inherit;
  margin-bottom: 0.4375rem;
}

li:last-child {
  margin-bottom: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

.gist {
  margin: 0 0 1.75rem;
}

/* Layout */
.container {
  position: relative;
  width: 100%;
  max-width: calc(960px + 2rem);
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 5% 1rem;
  }
}

.container > :last-child {
  margin-bottom: 0;
}

/* Section */
section {
  background: #ffffff;
  margin-bottom: 1.75rem;
  position: relative;
  padding: 10% 8%;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 6% 8%;
  }
}

section header {
  margin-bottom: 3.5rem;
}

section header p {
  font-size: 1.125em;
}

section h1, section h2 {
  padding-bottom: 0.4375rem;
  border-bottom: 1px solid #e8e8e9;
}

section h1 a {
  color: #232325;
  text-decoration: none;
}

section h1 a:hover, section h1 a:focus {
  color: #232325;
}

section h1 small {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  font-size: 13px;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  section h1 small {
    display: none;
  }
}

section h1 small a {
  color: #94949a;
}

section h1 small a:hover, section h1 small a:focus {
  color: #0355b3;
}

section > :last-child {
  margin-bottom: 0;
}

section footer {
  text-align: center;
}

/* Navigation */
nav {
  background: #f2f2f3;
  margin-bottom: 1.75rem;
}

nav:first-of-type a {
  color: #cb2431;
  border-radius: 0;
}

nav:first-of-type a:hover, nav:first-of-type a:focus {
  color: #cb2431;
}

nav:first-of-type a:before {
  background-color: #cb2431;
}

nav a {
  width: 100%;
  position: relative;
  display: block;
  padding: 0.5rem 0.875rem;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #ffffff;
  border-radius: 0.25rem;
}

nav a:before {
  content: "";
  width: .25rem;
  display: block;
  left: 0;
  position: absolute;
  height: 100%;
  display: none;
  background: #0366d6;
  top: 0;
}

nav a:hover {
  background-color: #e8e8e9;
  color: #0355b3;
}

nav a:hover:before {
  display: block;
}

nav a:last-of-type {
  border-bottom: none;
}
